*{
    padding: 0;
    margin: 0;
}
:root{
    --color1: #424e5e;
    --color2: #a795a5;
    --color3: #7a959e; 
    --color4: #3b2b46; 
    --color5: #ffffea;
}
body {
    background-color: var(--color1);
    color: var(--color2);
    display: flex;
    justify-content: center;
    margin: 1;
    padding: 0;
    flex-direction: column;
    font-size: 20px;
}
.tabla{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid var(--color4);
    border-radius: 5px;
    border-collapse: collapse;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;
    border: black solid 5px;
    background-color: var(--color4);
}
.titulo{
    text-align: center;
    text-decoration: underline solid var(--color4) 5px;
    color: var(--color2);
    font-family: "Bevan", serif;
    padding: 30px;
}
.indice{
    color:var(--color2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline solid var(--color4) 4px;
    margin: 30px;
}
.subtitulo{
    color: var(--color5)
}
.interior{
    display: flex;
    justify-content: space-around;
}
.boss {
background-color: var(--color1);
}
#celda1{
    justify-content: center;
    text-align: center;
    flex-direction: row;
    font-size: 15px;
    margin-top: 8px;
    padding-bottom: 0%;
}
.celda{
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}
#mapa:hover{
    width: 75%;
    transform: scale(1.2);
}
#mapa{
    transition: transform 0.3s ease;
    width: 75%;
}
p{
    margin: 20px;
    font-family: "Rokkitt", serif;
    font-optical-sizing: auto;
    color: var(--color5);
}
td{
    margin: 20px;
    padding: 15px;
    text-align: justify;
    font-family: "Rokkitt", serif;
    font-optical-sizing: auto;
    color: var(--color5);
    border: 7px solid var(--color4);
}
th{
    margin: 20px;
    padding: 15px;
    text-align: justify;
    font-family: "Rokkitt", serif;
    font-optical-sizing: auto;
    color: var(--color2);
    border: 7px solid var(--color4);
}

a{
    color:var(--color3);
}
a:visited{
    color:var(--color3);
}
a:hover{
    color:var(--color4);
}
img {
    display: inline-block;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.bevan-regular {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
  }